<section class="bg-black dark:bg-gray-900 p-8">
      <div class="max-w-screen-xl  px-6 py-10 mx-auto">
      <div class=" mb-10 md:mx-auto sm:text-center  md:mb-12 text-center">
      <h2 class=" inline-block max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight  sm:text-4xl md:mx-auto md:text-center">
        
        <span class="text-gray-50"> Comment ça marche ?</span>
      </h2>
     
   
    </div>
       
        <div class="ml-18 mt-8 xl:mt-12 lg:flex lg:items-center lg:justify-center">
          <div class="w-full lg:w-1/2 grid grid-cols-1 gap-8 xl:gap-16 md:grid-cols-2">
            <div class="space-y-3">
              <span class="inline-block p-3 text-gray-50 primary rounded-xl dark:text-white dark:bg-blue-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-50" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.121 15.536c-1.171 1.952-3.07 1.952-4.242 0-1.172-1.953-1.172-5.119 0-7.072 1.171-1.952 3.07-1.952 4.242 0M8 10.5h4m-4 3h4m9-1.5a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
              </span>

              <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">
                L'abonnement
              </h1>

              <p class="text-gray-500 dark:text-gray-300">
                Choississez l'abonnement qui répondra qui répondra à vos attentes. Une fois les démarches réalisés, nous vous enverrons des accés pour notre plateforme et un développeur web prendra contact avec vous et vous suivrez tout au long de notre partenariat
              </p>
            </div>

            <div class="space-y-3">
              <span class="inline-block p-3 text-blue-500 primary rounded-xl dark:text-white dark:bg-blue-500">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-50" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z" />
            </svg>
              </span>

              <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">
                À vous de jouer ! 
              </h1>

              <p class="text-gray-500 dark:text-gray-300">
                Grace à notre site internet vous pourrez nous fournir les textes et photos que vous voulez voir sur votre site. Pas de panique tout à été pensé pour que vous puissiez vous y retrouver en toute sérreinité. Votre développeur référent sera la pour vous accompagnez
              </p>
            </div>

            <div class="space-y-3">
              <span class="inline-block p-3 text-blue-500 primary rounded-xl dark:text-white dark:bg-blue-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-50" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
                </svg>
              </span>

              <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">
                Première version du site vitrine
              </h1>

              <p class="text-gray-500 dark:text-gray-300">
                Après avoir reçu les éléments nécéssaires à la création du site vitrine, nous vous envoyons une première version de celui-ci. Dès lors nous attendrons vos retours pour les mettre en oeuvres. En parrallèle nous créérons les pages pour les réseaux sociaux et la mise en place des outils google.
              </p>
            </div>

            <div class="space-y-3">
              <span class="inline-block p-3 text-blue-500 primary rounded-xl dark:text-white dark:bg-blue-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-50" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
                </svg>
              </span>

              <h1 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white">
                Déploiement de votre site internet
              </h1>

              <p class="text-gray-500 dark:text-gray-300">
                Votre entreprise fait son entré sur le sphère internet. Votre site web et en ligne, vos réseaux sociaux sont crées, nous pouvons alors commencer le travail de référencement (SEO). Selon votre abonnement notre équipe mettra son savoir faire à votre disposition, community management, création d'article blog pour vous permettre d'avoir de nouveaux contacts clients.
              </p>
            </div>
          </div>

          <div class="hidden lg:flex lg:w-1/2 lg:justify-center ml-18">
            <img
              class="w-96 h-96 flex-shrink-0 object-cover rounded-full"
              src="https://images.unsplash.com/photo-1581291518857-4e27b48ff24e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>