<div>

<h1 class="text-5xl text-green-800 font bold"> Venez Nous retrouver et faire des Sites web Avec Nizar  <span class="text-4xl font-bold text-red-700 "><%= @contact.place %></span></h1>

<h3> Notre contact sur <%= @contact.place%> c'est Nizar </h3>
</div>